In [9]:
class mobile():
    name="iphone" #class variable
    color="white"
    price=40000
    def calling(self):#fun /self is object
        name="iphone"#local variable
        color="white"
        return f"mobile is used for calling, name of mobile is {name} and colour of mobile is {color}"
obj=mobile() #object instantion
obj1=mobile()
obj2=mobile()

In [10]:
obj1.calling()

'mobile is used for calling, name of mobile is iphone and colour of mobile is white'

In [ ]:
class mobile():
    
    
    def calling(self):
        name="iphone"
        color="white"
        return f"mobile is used for calling, name of mobile is {name} and colour of mobile is {color}"
obj=mobile()

In [11]:
obj.calling()

'mobile is used for calling, name of mobile is iphone and colour of mobile is white'

In [16]:
class Company():
    
    def Employees(self):
        name="Neha"
        salary=40000
        jobrole="Data Analyst"
        return f"In this company there are 50 employees, name is {name},salary is {salary} she is working as {jobrole}"
obj=Company()
obj.Employees()

'In this company there are 50 employees, name is Neha,salary is 40000 she is working as Data Analyst'

In [19]:
class Sports():
    name="Cricket"
    matches=60
    
    def Cricket(self):
        playername="Virat Kohli"
        jerseyno=18
        Centuries=75
        return f"{playername} has the jerseyno {jerseyno} he has the record of {Centuries} centuries"
obj=Sports()
obj.Cricket()

'Virat Kohli has the jerseyno 18 he has the record of 75 centuries'

In [20]:
obj.name

'Cricket'

In [22]:
obj.matches

60

In [29]:
class calculator():
    
    def calculations(self):
        a=50
        b=50
        return f"Addition is {a+b}, Subtraction is {a-b}, Multiplication is {a*b}, Floor division is {a//b}"
obj=calculator()
obj.calculations()

'Addition is 100, Subtraction is 0, Multiplication is 2500, Floor division is 1'

In [60]:
class myfirstclass():
    def createname(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        return self.name,self.age
    def say(self):
        self.name=name
        self.age=age
        return f'hello{self.name} his age is {self.age}'
obj=myfirstclass()
obj1=myfirstclass()
obj2=myfirstclass()
obj.createname("Neha",23)
obj1.createname("Raj",20)
obj2.createname("Shreya",18)
print(obj.display())
print(obj1.display())
print(obj2.display())

('Neha', 23)
('Raj', 20)
('Shreya', 18)

In [64]:
class student():
    name="Raj"
    age=23
    def show(self):
        name="Rahul"
        age=25
        #return f'my name is {obj.name} and my age is {obj.age}'
        return f'my name is {name} and my age is {age}'
obj=student()
obj.show()

'my name is Rahul and my age is 25'

In [10]:
class A:
    x=20
    y=20
    
    def show(self):
        self.x = self.x + 4
        A.y = A.y + 4
        print(self.x,self.y)
obj=A()
obj.show()

A().show()
A().show()
obj.show()
obj.show()
A().show()
obj.show()

24 24
24 28
24 32
28 36
32 40
24 44
36 48

In [ ]:
class increment():
    x=10
    y=10
    
    def show(self):
        self.x= self.x + 10
        A.y= A.y + 10

In [21]:
class student():
    
    
    def studentinfo(self,name,age,course):
        self.name=name
        self.age=age
        self.course=course
        
    def display(self):
        return f"My name is {self.name}, my age is {self.age} my course is {self.course}"
obj=student()
obj1=student()
obj2=student()
obj3=student()
obj.studentinfo("Neha",23,"Data analytics")
obj1.studentinfo("Raj",20,"Data science")
obj2.studentinfo("Shreya",18,"ML")
print(obj.display())
print(obj1.display())
print(obj2.display())

My name is Neha, my age is 23 my course is Data analytics
My name is Raj, my age is 20 my course is Data science
My name is Shreya, my age is 18 my course is ML

In [22]:
class student():
    institute="Itvedant"
    
    def studentinfo(self):
        name="Neha"
        age=23
        course="Data Analytics"
        return f"My name is {name}, my age is {age} my course is {course} from {self.institute}"
obj=student()
obj.studentinfo()

'My name is Neha, my age is 23 my course is Data Analytics from Itvedant'

In [24]:
class student():
    gender="Female"
    def __init__(self,name,age,rollno):
        self.name=name
        self.age=age
        self.rollno=rollno
    def show(self):
        print(self.name)
ob=student("Anita",20,101)
ob1=student("Priya",25,102)
ob2=student("Nisha",24,103)
print(ob.name)
print(ob.age)
print(ob.rollno)
print(ob1.name)
print(ob1.age)
print(ob1.rollno)
print(ob2.name)
print(ob2.age)
print(ob2.rollno)

Anita
20
101
Priya
25
102
Nisha
24
103

In [1]:
class Addition():
    f=0
    s=0
    a=0
    def __init__(self,f1,s1):
        self.f=f1
        self.s=s1
    def display(self):
        print("First number:-"+str(self.f))
        print("Second number:-"+str(self.s))
        print("Addition of two numbers:-"+str(self.a))
        
    def calculate(self):
        self.a=self.f+self.s
#creating obj of class  
#this will invoke parameterize constructor 
obj=Addition(100,200)
#Perform addition
obj.calculate()
#display result
obj.display()

First number:-100
Second number:-200
Addition of two numbers:-300

In [2]:
class demodefault:
    num=101
    def read_number(self):
        print(self.num)
obj=demodefault()
obj.read_number()

101

In [6]:
class demodefault:
    num=101
    def __init__(self):
        self.num=999
    def read_number(self):
        print(self.num)
        
obj=demodefault()
obj.read_number()

999

In [7]:
class Employee():
    def __init__(self):
        print("Employee created ")
        
        
        
    def __del__(self): #to delete any attribute
        print("Destructor call,Employee Deleted")
obj=Employee()
del obj

Employee created
Destructor call,Employee Deleted

In [9]:
#Single inheritance - when a child class inherit from only one parent class.

class parent:
    def fun1(self):
        print("Parent class")
class child(parent):
    def fun2(self):
        print("Child class")
              
obj=child()
obj.fun1()
obj.fun2()

Parent class
Child class

In [11]:
#multiple inheritance

class Mother:
    Mothername=""
    def mother(self):
        print(self.Mothername)
class Fater:
    Fathername=""
    def father(self):
        print(self.Fathername)
class Son():
    def parents(self):
        print("Father : ",self.Fathername)
        print("Mother : ",self.Mothername)
s1=Son()
s1.Fathername="Nitin Patil"
s1.Mothername="Minal Patil"
s1.parents()

Father :  Nitin Patil
Mother :  Minal Patil

In [12]:
#Multilevel inheritance
class First:
    def input1(self):
        self.a=int(input("Enter 1st number : "))
        self.b=int(input("Enter 2nd number : "))
class Second(First):
    def add(self):
        self.a=self.a+self.b
        
class Third(Second):
    def result(self):
        print("Sum of 2 numbers : ",self.a)
obj=Third()
obj.input1()
obj.add()
obj.result()

Enter 1st number : 5
Enter 2nd number : 6
Sum of 2 numbers :  11

In [5]:
#Hierarchical Inheritance

class First:
    def __init__(self):
        self.x=50
        self.y=20 
        
class Second(First):
    def findsum(self):
        self.z=self.x+self.y
        print("Sum is : ",self.z)
class Third(First):
    def findsub(self):
        self.z=self.x-self.y
        print("Substraction is : ",self.z)
obj1=Second()
obj1.findsum()
obj2=Third()
obj2.findsub()

Sum is :  70
Substraction is :  30

In [21]:
#fun with multiple arguments
def sum_num(*arg):
    result=0
    for num in arg:
        result+=num
    print(result)
if(__name__=="__main__"):
    print("Similar to method overloading")
    
    print("Single arg",end=" ")
    sum_num(10)
    
    print("Two arg",end=" ")
    sum_num(10,20)
    
    print("Threearg",end=" ")
    sum_num(10,20,30)
    
    print("Four arg",end=" ")
    sum_num(10,20,30)

Similar to method overloading
Single arg 10
Two arg 30
Threearg 60
Four arg 60

In [23]:
class A:
    def first(self):
        print("First function class A")
    def second(self):
        print("Second function class A")
class B(A):
    def first(self):
        print("Redefined function of class A in class B")
    def display(self):
        print("display function of child class")
child_obj=B()
child_obj.first()
A().first()

Redefined function of class A in class B
First function class A

In [33]:
class India:
    def getCapital(self):
        print("Delhi")
    def getCurrency(self):
        print("INR Rs.")
class US:
    def getCapital(self):
        print("Washington DC")
    def getCurrency(self):
        print("US $")
        
i=India()
us=US()
for a in (i,us):
        
        a.getCapital()
        a.getCurrency()

Delhi
INR Rs.
Washington DC
US $

In [34]:
class Person:
    def getname(self):
        print("Neha")
    def getplace(self):
        print("Nerul")
class Person2:
    def getname(self):
        print("Kajal")
    def getplace(self):
        print("Vashi")
        
p1=Person()
p2=Person2()

for i in (p1,p2):
    i.getname()
    i.getplace()

Neha
Nerul
Kajal
Vashi

In [1]:
class parent:
    def __init__(self,txt):
        self.message=txt
    def printmsg(self):
        print(self.message)
class child(parent):
    def __init__(self,txt):
        super().__init__(txt) #allow us to avoid using the base class name explicitly working with multiple inheritance
x=child("Hello how are you everyone ? ")
x.printmsg()

Hello how are you everyone ?

In [2]:
class Animal:
    def __init__(self,Animal):
        print(Animal,"is an animal")
        
class Mammal(Animal):
    def __init__(self,mammalname):
        print(mammalname,"is warm blood animal")
        super().__init__(mammalname)
        
class NonwingedMammal(Mammal):
    def __init__(self,NonwingedMammal):
        print(NonwingedMammal,"can't fly")
        super().__init__(NonwingedMammal)
        
class NonMarineMammal(Mammal):
    def __init__(self,NonMarineMammal):
        print(NonMarineMammal,"can't swim")
        super().__init__(NonMarineMammal)
        
class dog(NonMarineMammal,NonwingedMammal):
    def __init__(self):
        print("Dog has 4 legs")
        super().__init__('dog')
        
d=dog()
print("")
bat=NonMarineMammal('Bat')

Dog has 4 legs
dog can't swim
dog can't fly
dog is warm blood animal
dog is an animal

Bat can't swim
Bat is warm blood animal
Bat is an animal

In [4]:
a=36
b=5
c=a//b
type(c)

int

In [9]:
class bubble:
    def __init__(self,volume):
        self.volume=volume
    def __str__(self):
        return "volume"+str(self.volume)
b1=bubble(30)

print(b1)

volume30

In [14]:
class bubble:
    def __init__(self,volume):
        self.volume=volume
    
    def __str__(self):
        return "volume : "+str(self.volume)
    
    def __mul__(self,other):
        volume=self.volume*other.volume
        return bubble(volume)
    
b1=bubble(30)
b2=bubble(20)
print(b1*b2)

volume : 600

In [5]:
class Box:
    def __init__(self,l,w):
        self.l=l
        self.w=w
    def __add__(self,other):
        s1=self.l+self.w
        s2=other.l+other.w
        total=s1+s2
        return "Total box size now : ",total
    def __sub__(self,other):
        s1=self.l-self.w
        s2=other.l-other.w
        difference=s1-2
        return "Total difference is now : ",difference
    
    
box1=Box(2,3)
box2=Box(3,4)
print(box1+box2)
print(box1-box2)

('Total box size now : ', 12)
('Total difference is now : ', -3)

In [6]:
class e1:
    def __init__(self,x):
        self.x=x
    def __lt__(self,u):
        if(self.x < u.x):
            return "obj1 is less than the obj2"
        else:
            return "obj2 is less than the obj1"
    def __eq__(self,u):
        if(self.x == u.x):
            return "obj1 is equal to the obj2"
        else:
            return "obj2 is not equal to the obj1"
ob1=e1(int(input("Enter the value of obj 1 : ")))
ob2=e1(int(input("Enter the value of obj 2 : "))) 

print(" : ",ob1 < ob2)

ob3=e1(int(input("Enter the value of obj 1 : ")))
ob4=e1(int(input("Enter the value of obj 2 : "))) 

print(" : ",ob3 == ob4)

Enter the value of obj 1 : 5
Enter the value of obj 2 : 6
 :  obj1 is less than the obj2
Enter the value of obj 1 : 5
Enter the value of obj 2 : 5
 :  obj1 is equal to the obj2